{% load static %}
<!--

Created by Sandboxed Thoughts in conjunction with Techvo LLC for JSC Concrete Construction.

    JSC Concrete Construction expressed a need for a better solution to managing
    their concrete and gravel orders so that they could better handle their
    client's needs. Thus, JSC Order Tracking is born. It is my pleasure to have
    been a part of the design and creation of the site and look forward to the
    continued development and progression of this app.
        ~ Sandboxed Thoughts
          `Innovate, Integrate, Inspire`

-->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- made by www.metatags.org --> 
    <title>Login | JSC Order Tracking</title>  
    <meta name="description" content= "sign in to track the process of concrete and gravel orders from procurement to site delivery" />
    <meta name="robots" content= "index, nofollow">    
    <meta name="author" content="Sandboxed Thoughts">
    <link rel="canonical" href="https://jscorder.mysbxt.net/">

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/f2ef0fd27d.js" crossorigin="anonymous"></script>


    <!-- Bootstrap core CSS -->
    <link href="{% static 'signin/css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .icon {
        font-size: 42pt;
        margin: 25px;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{% static 'signin/css/signin.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="col">
      <i class="fa-regular fa-calendar-lines-pen icon"></i>
      <h1 class="h3 mb-3 fw-normal">JSC Order Tracking</h1>
      <br/>
      <main class="form-signin">
        <form method="POST">
          {% csrf_token %}
          {{ form.non_field_errors }}

          <div class="form-floating">
            {{ form.username }}
            {{ form.username.errors }}
            <label for="floatingInput">Email address</label>
          </div>
          <br/>
          <div class="form-floating">
            {{ form.password }}
            {{ form.password.errors }}
            <label for="floatingPassword">Password</label>
          </div>

          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
      </main>
    </div>

    
  </body>
</html>

